
.ehbButton .button {
  -fx-background-color: white, white;
  -fx-background-radius: 16.4, 15;
  -fx-background-insets: -1.4, 0;
  -fx-border-radius: 15;
  -fx-border-width: 2;
  -fx-border-color: dimgrey;
  -fx-padding: 0;
  -fx-font-size: 0;
}

.ehbButton .button:focused {
  -fx-background-color: -fx-focus-color, white;
}

.ehbButton .closetext {
  -fx-stroke: dimgrey;
  -fx-fill: dimgrey;
  -fx-font-size: 20;
  -fx-translate-y: -1;
}

.ehbButton .closeicon {
  -fx-stroke: dimgrey;
  -fx-stroke-width: 2;
}

.ehbButton:hover {
  -fx-effect: innershadow(gaussian, blue, 15, 0, 0, 0);
}


